@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.playlist{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;

    &__banner{
        background: map-get(variables.$gradients, "snowangel");
        width: 90%;
        height: 30rem;
        display: flex;
        justify-content: start;
        align-items: end;
        padding: 2rem;
        gap: 2rem;

        &--image{
            width: 25rem;
            object-fit: contain;
            box-shadow: 0 1rem 1rem 1rem rgba(map-get(variables.$baseVars, "background"), 0.2);
            transition: 0.2s all;

            &:hover{
                cursor: pointer;
                transform: scale(1.02);
            }
        }

        &--wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            gap: 1rem;

            &-title{
                font-size: 400%;
                font-weight: 800;
            }
            &-year{
                font-size: 90%;
                color: map-get(variables.$accentVars, "greyColor");
            }
        }
    }

    &__list{
        list-style: none;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }

    &__play{
        background: none;
        border: none;
        color: map-get(variables.$accentVars, "greyColor");
        display: none;

        &:hover{
            cursor: pointer;
        }
    }

    &__song{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 0.5rem;

        &:hover{
            cursor: pointer;
            background: lighten(map-get(variables.$baseVars, "background"), 5%);
        }
        &:hover .playlist__play{
            display: flex;
        }

        &:hover &--number-text{
            display: none;
        }

        &--number{
            width: 5%;
            font-size: 85%;
            color: map-get(variables.$accentVars, "greyColor");
            @include mixins.flexBox;

        }
        &--title{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.4rem;

            &-text{
                font-size: 85%;
            }
            
            &-artist{
                font-size: 80%;
                color: map-get(variables.$accentVars, "greyColor");

                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "color");
                    text-decoration: underline;
                }
            }
        }
        &--album{
            width: 20%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 80%;
            color: map-get(variables.$accentVars, "greyColor");

            &-text{
                font-size: 90%;
                font-weight: 500;
                
                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "color");
                    text-decoration: underline;
                }
            }
        }
        &--duration{
            width: 25%;
            display: flex;
            justify-content: end;
            font-size: 80%;
                color: map-get(variables.$accentVars, "greyColor");
        }
    }
    &__names{
        border-bottom: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.1);

        &:hover{
            cursor: default;
            background: none;
        }
    }
}