@use "../../abstracts/variables";

.header{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    &__logo{
        width: 14rem;
        object-fit: cover;
    }

    &__navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &--item{
            text-decoration: none;
            color: map-get(variables.$baseVars, "greyColor");
        }
    }

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;

        &--item{
            display: flex;
            justify-content: center;
            align-items: center;

            &-avatar{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
            }
        }
    }
}