*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
}

.welcome {
  background: black;
  color: white;
}
.welcome__body {
  background: black;
  color: white;
}
.welcome__image {
  position: absolute;
  left: -8rem;
  top: 0;
  max-width: 87.7rem;
}
.welcome__container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome__container--wrapper {
  position: relative;
  width: 100%;
  max-width: 67.2rem;
  padding: 0 2.4rem;
}
.welcome__header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 0.8rem;
  padding: 4rem 0;
}
.welcome__header--logo {
  display: flex;
}
.welcome__header--svg {
  height: 4.8rem;
  width: auto;
  color: white;
}
.welcome__header--navigation {
  margin: 0 -1.2rem;
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
}
.welcome__header--navigation-item {
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  color: white;
}
.welcome__header--navigation-item:hover {
  color: rgba(255, 255, 255, 0.7);
}
.welcome__header--navigation-item:focus {
  outline: none;
}
.welcome__header--navigation-item:focus-visible {
  box-shadow: 0 0 1rem 1rem red;
}
.welcome__main {
  margin-top: 2.4rem;
}
.welcome__footer {
  padding: 6.4rem 0;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
}

.laravel {
  display: grid;
  gap: 2.4rem;
}
.laravel__documentation {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
  overflow: hidden;
  border-radius: 0.8rem;
  background: #18181b;
  padding: 2.4rem;
}
.laravel__documentation--svg {
  width: 2rem;
  height: 2rem;
}
.laravel__documentation--screenshot {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1 1 0%;
  align-items: stretch;
}
.laravel__documentation--screenshot-image {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  border-radius: 1rem;
  object-position: top;
}
.laravel__documentation--screenshot-wrapper {
  position: absolute;
  bottom: -6.4rem;
  left: -6.4rem;
  height: 16rem;
  width: calc(100% + 12.8rem);
}
.laravel__documentation--container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.laravel__documentation--container-wrapper {
  display: flex;
  align-items: start;
  gap: 2.4rem;
}
.laravel__documentation--container-image {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(255, 45, 32, 0.1);
}
.laravel__documentation--container-title {
  padding-top: 1.2rem;
}
.laravel__documentation--container-heading {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.laravel__documentation--container-text {
  margin-top: 1.6rem;
  font-size: 1.4rem;
}
.laravel__documentation--container-svg {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  stroke: #ff2d20;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.chat {
  height: 100%;
  background: #121212;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.chat__user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 4rem;
}
.chat__user--image {
  width: 6rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.chat__user--name {
  font-size: 2rem;
}
.chatForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}
.chatForm__input {
  width: 100%;
  background: #161616;
  border: none;
  padding: 1rem 2rem;
  font-size: 85%;
  border-radius: 0.4rem 0 0 0.4rem;
  color: white;
}
.chatForm__input:focus {
  outline: none;
}
.chatForm__submit {
  background: none;
  border: none;
  background: #161616;
  padding: 1rem 2rem;
  font-size: 85%;
  border-radius: 0 0.4rem 0.4rem 0;
  color: white;
}

.messages {
  width: 100%;
  height: 70vh;
  padding: 1rem 4rem;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.messages::-webkit-scrollbar {
  background: #121212;
}
.messages::-webkit-scrollbar-thumb {
  background: #101010;
  height: 5rem;
  border-radius: 5rem;
}

.message {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
.message__figure {
  width: 4rem;
}
.message__figure--image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.message__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.message__text--wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.message__text--username {
  font-size: 85%;
  font-weight: 500;
}
.message__text--date {
  font-size: 60%;
  color: grey;
}
.message__text--chat {
  font-size: 80%;
  color: #eee;
  font-weight: 500;
}

/*# sourceMappingURL=app.css.map */
