@use "../../../abstracts/variables";

.main__shows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 4rem;
    width: 100%;
    padding: 4rem 8rem;
    background: map-get(variables.$baseVars, "darkgrey");
}
.episodes{
    width: calc(100% - map-get(variables.$headerVars, "width"));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &--text{
            font-weight: 400;
            font-size: 200%;
        }

        &--title{
            font-weight: 400;
            color: map-get(variables.$baseVars, "greyColor");
        }
    }

    &__dropdown{
        position: relative;
        background: none;
        border: none;
        color: map-get(variables.$baseVars, "color");
        font-size: 160%;
        
        &--option{
            background: map-get(variables.$baseVars, "background");
        }
    }

    &__list{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 2rem;
        row-gap: 2.4rem;
        flex-wrap: wrap;
    }
}

.episode{
    width: calc(25% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        &--image{
            width: 100%;
            object-fit: contain;
        }

        &--information{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            width: 100%;

            &-title{
                font-size: 100%;
                font-weight: 500;
            }
            &-duration{
                color: map-get(variables.$baseVars, "greyColor");
                font-size: 100%;
            }
        }
    }

    &__description{
        font-size: 90%;
        font-weight: 300;
        line-height: 1.8rem;
        color: map-get(variables.$baseVars, "greyColor");
    }
}