$backgroundColor: #191919;

$fontVars: (
    "color": white,
    "font": sans-serif,
    "size": 1.6rem
);

$tasksVars: (
    "background": #090909,
    "taskBackground": #202020,
    "headerNumber": #151515,
    "taskColor": white
);

$labelVars: (
    "today": #7077A1
);

$formVars: (
    "submitBackground": #403643,
    "submitColor": white
);