$baseVars: (
    "background": black,
    "color": whitesmoke,
    "font": "Roboto"
);

$accentVars: (
    "greyColor": darken(whitesmoke, 55%),
    "button": rgb(46, 71, 46)
);

$gradients: (
    "snowangel": linear-gradient(rgb(24, 64, 72), 55%, black)
);