@use "../../../abstracts/variables";
@use "../../../abstracts/animations";

.shows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;

    &__category{
        font-size: 140%;
        font-weight: 400;
        
    }

    &__list{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
}

.show{
    position: relative;
    width: 28rem;
    height: 18rem;
    transition: 0.2s all;

    &:hover{
        cursor: pointer;
        @include animations.expand;
        flex-shrink: 0;
    }

    &:hover &__information{
        display: block;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__information{
        display: none;
        position: absolute;
        bottom: 2%;
        left: 2%;
        z-index: 1000;
        padding: 1rem;

        &--play{
            width: 100%;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: end;

            &-button{
                font-size: 220%;
                color: map-get(variables.$netflixVars, "red");
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border: 0.4rem solid white;
                background: rgba(0, 0, 0, 0.7);
            }
        }
        
        &--title{
            font-size: 150%;
            text-shadow: 0 0.1rem 0.2rem black;
        }

        &--wrapper{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            &-match{
                color: map-get(variables.$netflixVars, "match");
                font-weight: 600;
                text-shadow: 0 0.1rem 0.2rem black;
            }
            &-year, &-duration{
                font-weight: 600;
                text-shadow: 0 0.1rem 0.2rem black;
            }
            &-age{
                font-weight: 300;
                border: 0.1rem solid white;
                padding: 0rem 0.4rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &--description{
            font-weight: 300;
            line-height: 1.8rem;
            text-shadow: 0 0.1rem 0.2rem black;
        }

        &--arrow{
            display: flex;
            justify-content: center;
            align-items: center;

            &-button{
                font-size: 200%;
            }
        }
    }
}