@use "../../../abstracts/variables";
@use "../../../abstracts/mixins";

.seriesHeading{
    position: relative;
    width: 100%;
    z-index: -10;

    &__image{
        width: 100%;
        object-fit: contain;
    }

    &__wrapper{
        position: absolute;
        top: -10%;
        left: 2%;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        padding: 0 0 0 8rem;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0rem 2rem 2rem rgba(0, 0, 0, 0.7);

        &--image{
            width: 80%;
            object-fit: contain;
        }

        &--title{
            font-weight: 500;
            font-size: 180%;
        }

        &--information{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            color: map-get(variables.$baseVars, "greyColor");
            font-size: 100%;

            &-match{
                @include mixins.match;
            }

            &-age{
                border: 0.1rem solid map-get(variables.$baseVars, "greyColor");
                padding: 0 0.4rem;
            }
        }

        &--description{
            width: 70%;
            font-size: 110%;
        }
    }
}