@use "../../abstract/variables.scss";

.header{
    background: darken(variables.$backgroundColor, 2%);
    width: 100%;
    height: 5rem;
    position: fixed;

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        height: 100%;
        font-weight: 600;
        font-size: 120%;
    }
}