@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.brands{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    &__title{
        font-size: 100%;
        color: map-get(variables.$intertoysVars, "darkgrey");
    }
    &Wrapper{
        width: 100%;
        @include mixins.flexBox;
    }
    &__left, &__right{
        @include mixins.leftright;
    }
    &__list{
        @include mixins.flexBox;
        gap: 1rem;
        width: 100%;
        list-style: none;

        &--item{
            width: 100%;

            &-image{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}