*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  background: black;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.songs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.song {
  background: #080808;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.song__figure {
  width: 100%;
}
.song__figure--image {
  width: 100%;
  object-fit: cover;
}
.song__wrapper {
  width: 100%;
  padding: 0 1rem;
}
.song__wrapper--title {
  font-size: 100%;
}
.song__wrapper--artist {
  font-size: 85%;
  font-weight: 500;
  color: darkgray;
}
.song__play {
  background: rgb(0, 255, 0);
  border: none;
  color: whitesmoke;
  font-size: 2rem;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 1rem;
  color: black;
}

.audioForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.playlist__banner {
  background: linear-gradient(rgb(24, 64, 72), 55%, black);
  width: 90%;
  height: 30rem;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 2rem;
  gap: 2rem;
}
.playlist__banner--image {
  width: 25rem;
  object-fit: contain;
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
}
.playlist__banner--image:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.playlist__banner--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 1rem;
}
.playlist__banner--wrapper-title {
  font-size: 400%;
  font-weight: 800;
}
.playlist__banner--wrapper-year {
  font-size: 90%;
  color: dimgray;
}
.playlist__list {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.playlist__song {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.playlist__song:hover {
  cursor: pointer;
  background: #0d0d0d;
}
.playlist__song--number {
  width: 5%;
  font-size: 85%;
  color: dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist__song--number:hover .playlist__song--number-audio {
  display: flex;
}
.playlist__song--number:hover .playlist__song--number-text {
  display: none;
}
.playlist__song--number-audio {
  display: none;
}
.playlist__song--title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.playlist__song--title-text {
  font-size: 85%;
}
.playlist__song--title-artist {
  font-size: 80%;
  color: dimgray;
}
.playlist__song--title-artist:hover {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: underline;
}
.playlist__song--album {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 80%;
  color: dimgray;
}
.playlist__song--album-text {
  font-size: 90%;
  font-weight: 500;
}
.playlist__song--duration {
  width: 25%;
  display: flex;
  justify-content: end;
  font-size: 80%;
  color: dimgray;
}
.playlist__names {
  border-bottom: 0.1rem solid rgba(245, 245, 245, 0.1);
}
.playlist__names:hover {
  cursor: default;
  background: none;
}

.playbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #0d0d0d;
}
.playbar__audio {
  width: 100%;
  border-radius: 0;
}
.playbar__audio::-webkit-media-controls-panel {
  background: #0d0d0d;
}
.playbar__audio::-webkit-media-controls-enclosure {
  background: #0d0d0d;
  border-radius: 0;
}

/*# sourceMappingURL=style.css.map */
