@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.songs{
    width: 100%;
    @include mixins.flexBox;
    gap: 1rem;
}

.song{
    background: lighten(map-get(variables.$baseVars, "background"), 3%);
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    &__figure{
        width: 100%;

        &--image{
            width: 100%;
            object-fit: cover;
        }
    }

    &__wrapper{
        width: 100%;
        padding: 0 1rem;

        &--title{
            font-size: 100%;
        }
    
        &--artist{
            font-size: 85%;
            font-weight: 500;
            color: darken(map-get(variables.$baseVars, "color"), 30%);
        }
    }
    &__play{
        background: map-get(variables.$accentVars, "brat");
        border: none;
        color: map-get(variables.$baseVars, "color");
        font-size: 2rem;
        width: 6rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        padding: 1rem;
        color: black;
    }
}

.audioForm{
    width: 100%;
    @include mixins.flexBox;
}