$baseVars: (
    "background": linear-gradient(to bottom right, #B7CADB, #54BAB9),
    "color": black
);

$cookieVars: (
    "background": #C08B5C,
    "chips": #481E14,
    "color": whitesmoke
);

$upgradeVars: (
    "background": whitesmoke,
    "border": grey
);

$saveBackground: #FF204E;

$avatarVars: (
    "background": whitesmoke
);

//13:45