@use "../../abstract/variables.scss";

.header{
    display: grid;
    grid-template-columns: 45% 35% 20%;
    align-items: start;

    &Wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }
}